{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<section>
<div class="container">
    <h1>Gestion Admins</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Mdp</th>
                <th>Numtel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.id }}</td>
                <td>{{ admin.nom }}</td>
                <td>{{ admin.prenom }}</td>
                <td>{{ admin.email }}</td>
                <td>{{ admin.mdp }}</td>
                <td>{{ admin.numtel }}</td>
                <td>
                    <a class="btn theme-btn full-width btn-m" href="{{ path('app_admins_show', {'id': admin.id}) }}">show</a>
                    <a class="btn theme-btn full-width btn-m" href="{{ path('app_admins_edit', {'id': admin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="form-group text-center">
    <a class="btn theme-btn full-width btn-m" href="{{ path('app_admins_new') }}">Add new</a>
    </div>
    </section>
</div>
{% endblock %}
