{% extends 'base
.html.twig' %}


{% block body %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">


    <h2 class="tm-block-title">Statistique </h2>
    <div id="pieChartContainer" style="height: 300px;">
        <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">

                </div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0">

                </div>
            </div>
        </div>
        <canvas id="reservation" class="chartjs-render-monitor" width="697" height="450" style="display: block; height: 300px; width: 465px;"></canvas>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script>
        let reservation = document.querySelector("#reservation")
        let eveGraph = new Chart(reservation, {
            type: "pie",
            data: {
                labels: {{ reservationName|raw }},
                datasets: [{
                    label: "Répartition des réservations",
                    data: {{ reservationCount|raw }},
                    backgroundColor: ["orange","pink","yellow","red"]
                }]
            }
        })

    </script>

    <script src="{{ asset('back/js/jquery-3.3.1.min.js') }}"></script>

    <!-- https://jquery.com/download/ -->
    <script src="{{asset('back/js/bootstrap.min.js')}}"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="{{asset('back/js/moment.min.js')}}"></script>
    <!-- https://momentjs.com/ -->
    <script src="{{asset('back/js/Chart.min.js')}}"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
{% endblock %}