{% extends 'front.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h1>Evenement</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ evenement.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ evenement.nom }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ evenement.description }}</td>
                </tr>
                <tr>
                    <th>DateDeb</th>
                    <td>{{ evenement.dateDeb ? evenement.dateDeb|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>DateFin</th>
                    <td>{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>{{ evenement.image }}</td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('app_evenement_front') }}">back to list</a>
        </div>
    </section>
{% endblock %}
