{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<div class="container">
    <h1>Commande</h1>
     <a  button type="button" class="btn btn-outline-secondary" href="{{ path('app_commande_index') }}">back to list</a>

    <a button type="button" class="btn btn-outline-secondary" href="{{ path('app_commande_edit', {'idCmd': commande.idCmd}) }}">edit</a>
    {{  include('commande/_delete_form.html.twig') }}
     

    <table class="table">
        <tbody>
            <tr>
                <th>IdCmd</th>
                <td>{{ commande.idCmd }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ commande.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ commande.prenom }}</td>
            </tr>
            <tr>
                <th>NumTel</th>
                <td>{{ commande.numTel }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ commande.codepostal }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ commande.etat }}</td>
            </tr>
            <tr>
                <th>Adressmail</th>
                <td>{{ commande.adressmail }}</td>
            </tr>
            <tr>
                <th>ModePaiment</th>
                <td>{{ commande.modePaiment }}</td>
            </tr>
        </tbody>
    </table>
</div>
   

   
{% endblock %}
