{% extends 'base.front.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
<section>
<div class="container">
    <h1>Your Profile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Cin :</th>
                <td>{{ client.cin }}</td>
            </tr>
            <tr>
                <th>Full Name :</th>
                <td>{{ client.nomprenom }}</td>
            </tr>
            <tr>
                <th>Username :</th>
                <td>{{ client.surnom }}</td>
            </tr>
            <tr>
                <th>Gender :</th>
                <td>{{ client.sexe }}</td>
            </tr>
            <tr>
                <th>Email :</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Birthday date :</th>
                <td>{{ client.datenaissance ? client.datenaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Adress :</th>
                <td>{{ client.adresse }}</td>
            </tr>
            <tr>
                <th>Photo :</th>
                <td><img src="{{ asset('images/' ~ client.image) }}" alt="" width="90" height="90" "></td>
            </tr>
        </tbody>
    </table>

    <a class="btn theme-btn full-width btn-m" href="{{ path('app_client_edit', {'cin': client.cin}) }}">edit</a>
    <br><br>
    {{ include('client/_delete_form.html.twig') }}
</section>
</div>
{% endblock %}
