{% extends 'front.html.twig' %}

{% block title %}Zonecamping index{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h1>Zonecamping index</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Region</th>
                    <th>Delegation</th>
                    <th>NomCentre</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Description</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for zonecamping in zonecampings %}
                    <tr>
                        <td>{{ zonecamping.id }}</td>
                        <td>{{ zonecamping.region }}</td>
                        <td>{{ zonecamping.delegation }}</td>
                        <td>{{ zonecamping.nomCentre }}</td>
                        <td>{{ zonecamping.latitude }}</td>
                        <td>{{ zonecamping.longitude }}</td>
                        <td>{{ zonecamping.description }}</td>
                        <td>
                            <a href="{{ path('showFront', {'id': zonecamping.id}) }}">show</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </section>
{% endblock %}
