{% extends 'base.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}
    <h1>Offre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPromotion</th>
                <td>{{ offre.idPromotion }}</td>
            </tr>
            <tr>
                <th>DateDebutpromo</th>
                <td>{{ offre.dateDebutpromo ? offre.dateDebutpromo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFinpromo</th>
                <td>{{ offre.dateFinpromo ? offre.dateFinpromo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Pourcentagepromo</th>
                <td>{{ offre.pourcentagepromo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_offre_index') }}">back to list</a>

    <a href="{{ path('app_offre_edit', {'idPromotion': offre.idPromotion}) }}">edit</a>

    {{ include('offre/_delete_form.html.twig') }}
{% endblock %}
